<div class="menu-area desktop-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo">
                            <a href="\" class="logo-brand">
                                <img src="{{ 'assets/images/home/logo.png' | theme }}" class="img-responsive" alt="logo">
                            </a>
                        </div>

                        <nav id="easy-menu">
                            <div class="button">
                                <i class="fa fa-bars"></i>
                            </div>
                            <ul class="menu-list">
                                <li><a href="\">Главная</a></li>
                                <li><a href="\artists">Исполнители</a>
								<!--	<ul class="menu-inner">
										<li><a href="#">NnN</a></li>
										<li><a href="artists/a-crime/index.html">А. Крайм</a></li>
										<li><a href="artists/delfina/index.html">Дельфина</a></li>
										<li><a href="artists/nikita-kit/index.html">Никита КИТ</a></li>
										<li><a href="artists/ali/index.html">Али</a></li>
										<li><a href="artists/oc/index.html">ОС3/1</a></li>
										<li><a href="artists/none-sense/index.html">NONE Sense</a></li>
										<li><a href="artists/dve-barcuhi/index.html">Двэ Барцухи</a></li>
									</ul> -->
                           </li>
								                <li><a href="#event-list">События</a></li>
                                <li><a href="#news">Новости</a></li>
                                <li><a href="#contact">Контакты</a></li>
                								<li><a href="#mastering.html">Сведение ОНЛАЙН</a></li>
                								<li><a href="http://music.x-records.ru">Муз. сеть</a></li>
                           </ul>
                       </nav>
                       <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div><!--/.menu-area-->
        <div class="mobile-menu">
            <div class="container">
                <div class="mobile-logo-search-humbarger">
                    <div class="logo">
                        <a href="index.html" class="logo-brand">
                            <img src="{{ 'assets/images/home/logo.png' | theme }}" class="img-responsive" alt="X-Records - Студия звукозаписи и репетиционная база в Симферополе">
                        </a>
                    </div>
                    <div class="humbarger-button">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
            </div>
        </div><!--/.menu-area-->
        <nav class="mobile-background-nav">
            <div class="mobile-inner">
                <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
                <ul class="menu-accordion">
                    <li><a href="index.html">Главная</a></li>
					<li><a href="artists.html">Исполнители</a>
            <!--    <li><a href="javascript:void(0);" class="has-submenu">Исполнители<i class="fa fa-angle-down pull-right"></i></a>
                        <ul class="menu-inner">
								<li><a href="#">NnN</a></li>
								<li><a href="artists/a-crime/index.html">А. Крайм</a></li>
								<li><a href="artists/delfina/index.html">Дельфина</a></li>
								<li><a href="artists/nikita-kit/index.html">Никита КИТ</a></li>
								<li><a href="artists/ali/index.html">Али</a></li>
								<li><a href="artists/oc/index.html">ОС3/1</a></li>
								<li><a href="artists/none-sense/index.html">NONE Sense</a></li>
								<li><a href="artists/dve-barcuhi/index.html">Двэ Барцухи</a></li>
                        </ul> -->
                    </li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="contact.php">Контакты</a></li>
					<li><a href="mastering.html">Сведение ОНЛАЙН</a></li>
					<li><a href="http://music.x-records.ru">Муз. сеть</a></li>
               </ul>
            </div>
       </nav>
