<div class="menu-area desktop-menu">

  <div class="logo">
      <a href="\" class="logo-brand">
          <img src="{{ 'assets/images/home/logo.png' | theme }}" alt="logo">
      </a>
  </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">


                        <nav id="easy-menu">
                            <div class="button">
                                <i class="fa fa-bars"></i>
                            </div>
                            <ul class="menu-list">
                                <li><a href="\">Главная</a></li>
                                <li><a href= {% if this.page.id == 'homepage' %} "#artists" {% else %} "\artists" {% endif %} >Исполнители</a></li>
								                <li><a href= {% if this.page.id == 'homepage' %} "#event-list" {% else %} "\events" {% endif %} >События</a></li>
                                <li><a href= {% if this.page.id == 'homepage' %} "#news" {% else %} "\news" {% endif %}>Новости</a></li>
                                <li><a href= {% if this.page.id == 'homepage' %} "#gallery" {% else %} "\gallery" {% endif %}>Галерея</a></li>
                                <li><a href="\contact">Контакты</a></li>
                								<li><a href= {% if this.page.id == 'homepage' %} "#ggg" {% else %} "\svedenie-online" {% endif %}>Сведение ОНЛАЙН</a></li>
                           </ul>
                       </nav>
                       <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div><!--/.menu-area-->
        <div class="mobile-menu">
            <div class="container">
                <div class="mobile-logo-search-humbarger">
                    <div class="logo">
                        <a href="index.html" class="logo-brand">
                            <img src="{{ 'assets/images/home/logo.png' | theme }}" class="img-responsive" alt="X-Records - Студия звукозаписи и репетиционная база в Симферополе">
                        </a>
                    </div>
                    <div class="humbarger-button">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
            </div>
        </div><!--/.menu-area-->
        <nav class="mobile-background-nav">
            <div class="mobile-inner">
                <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
                <ul class="menu-accordion">
                    <li><a href="index.html">Главная</a></li>
					<li><a href="artists.html">Исполнители</a></li>
                    <li><a href="news.html">Новости</a></li>
                    <li><a href="contact.php">Контакты</a></li>
					<li><a href="mastering.html">Сведение ОНЛАЙН</a></li>
					<li><a href="http://music.x-records.ru">Муз. сеть</a></li>
               </ul>
            </div>
       </nav>
