[builderList]
modelClass = "Kom\Artists\Models\Artist"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "artist"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[randomArtists]
results = 6
==
<section class="album-section section-padding" id="artists">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Исполнители</h2>
            </div>

            {% component 'randomArtists' %}

            <div class="text-center pdt40">
                <a href="/artists" class="musica-button">Показать всех исполнителей</a>
            </div>
        </div>
</section>

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}