[builderList]
modelClass = "Kom\Artists\Models\Artist"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "artist"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
pageNumber = "{{ :page }}"

[randomArtists]
==
<section class="album-section section-padding" id="artists">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Исполнители</h2>
            </div>
            
            {% component 'randomArtists' %}
            
            <div class="row row-eq-height">

              {% for record in records %}

                      {# Use spaceless tag to remove spaces inside the A tag. #}
                      {% spaceless %}

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="album-item">
                        <a href="
                        {% if detailsPage %}

                          {{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}

                        {% else %}

                          #

                        {% endif %}

                          ">


                            <img src="{{ record.poster.thumb(350, 300, {'mode':'crop'}) }}" class="img-responsive" alt="record.name">
                            <div class="overlay base-gradient-bg"></div>
                            <h3 class="heading">{{record.name}}</h3>
                            <span class="sub-heading">

                              {% for genre in record.genres %}

                                <a href="/genres/{{ genre.slug }}">{{ genre.genre_name }}</a>

                              {% endfor %}

                            </span>
                        </a>
                    </div><!--/.album-item-->
                </div>


                {% endspaceless %}

                {% else %}
                    <li class="no-data">{{ noRecordsMessage }}</li>
                {% endfor %}

            </div>
            <div class="text-center pdt40">
                <a href="/artists" class="musica-button">Показать всех исполнителей</a>
            </div>
        </div>
    </section>

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}