<section class="banner-area album-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title">
                    <h1>

                      {% if this.page.id == 'tags' %}

                        {{ tag.name }}

                      {% elseif this.page.id == '404' %}

                        <div id="container">
                            <!-- <div class="overlay"></div> -->
                              <div class="item-title">
                              <div id="message">

                              </div>
                              <div class="link-bottom"> <a class="link-icon" href="/">
                                <i class="icon ion-ios-home"></i> Главная</a>
                                <a class="link-icon" href="/contact"><i class="icon ion-ios-compose"></i> Связаться с нами</a>
                              </div>
                          </div>
                        </div>

                      {% elseif record.name %}

                        {{ record.name }}

                      {% elseif post.title %}

                        {{ post.title }}

                      {% elseif attribute(record, displayColumn) %}

                        {{ str_studly( attribute(record, displayColumn) ) }}

                      {% else %}

                        {{ str_studly( this.page.title ) }}

                      {% endif %}


                    </h1>
                </div>
            </div>
        </div>
    </div>
</section><!--/.banner-area-->
