<section class="banner-area album-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-title">
                    <h1>

                      {% if record.name %}

                        {{ record.name }}

                      {% elseif post.title %}

                        {{ post.title }}

                      {% elseif attribute(record, displayColumn) %}

                        {{ str_studly( attribute(record, displayColumn) ) }}

                      {% else %}

                        {{ str_studly( this.page.title ) }}

                      {% endif %}


                    </h1>
                </div>
            </div>
        </div>
    </div>
</section><!--/.banner-area-->
