<section class="event-section section-padding" id="event-list">
  <div class="overlay"></div>
        <div class="container">
              <div class="section-heading text-center" style="position: relative;">
                  <h2>Ближайшие события</h2>
              </div>

            <div class="pdb80">
                <div class="upcoming-event">
                    <div class="fornt-part">
                        <div class="date">2 Июня, 2018</div>
                        <div class="singer">День города</div>
                        <div class="venue">Крым, г. Симферополь</div>
                        <div class="detail text-right"><a href="#" class="musica-button-two">Подробнее</a></div>
                    </div>
                    <div class="back-part">
                        <div class="event-counter">
                            <div id="event-counter-one" class="musica-counter-active" data-value-year="2018" data-value-month="06" data-value-day="2" data-value-zone="+10"></div>
                        </div>
                    </div>
                </div><!--/.upcoming-event-->
            </div>
            <div class="text-center pdt40">
              <a href="/events" class="musica-button-two">Все события</a>
            </div>
        </div>
    </section>
