<section class="event-section section-padding" id="event-list">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-heading">
                        <h2>Ближайшие события</h2>
                    </div>
                </div>
            </div>
            <div class="pdb80">
                <div class="upcoming-event">
                    <div class="fornt-part">
                        <div class="date">2 Июня, 2018</div>
                        <div class="singer">День города</div>
                        <div class="venue">Крым, г. Симферополь</div>
                        <div class="detail text-right"><a href="#" class="musica-button-two">Подробнее</a></div>
                    </div>
                    <div class="back-part">
                        <div class="event-counter">
                            <div id="event-counter-one" class="musica-counter-active" data-value-year="2018" data-value-month="06" data-value-day="2" data-value-zone="+10"></div>
                        </div>
                    </div>
                </div><!--/.upcoming-event-->
            </div>
        </div>
    </section>