[latestPhotos]
==
<section class="gallery-section black-bg" id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading no-padding">
                        <h2>Фото галерея</h2>
                    </div>
                </div>
            </div>
        </div>
        <div>

          {% component 'latestPhotos' %}

        </div>

        <div class="text-center pdt40">
            <a href="/gallery" class="musica-button">Показать все галереи</a>
        </div>
</section>
