<section class="gallery-section black-bg" id="gallery">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-heading no-padding">
                        <h2>Фото галерея</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="gallery-filter">
                        <ul>
                            <li><a href="#!" data-filter="*">Все</a></li>
                            <li><a href="#!" data-filter=".studio">Студия</a></li>
                            <li><a href="#!" data-filter=".concert">Концерты</a></li>
                            <li><a href="#!" data-filter=".recreation">Отдых</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="gallery-grid">
                <div class="grid-item painting poster recreation">
                    <img src="{{ 'assets/images/gallery/2.jpg' | theme }}" class="img-responsive" alt="portfolio image">
                    <div class="base-gradient-bg overlay"></div>
                    <a href="images/gallery/2.jpg" class="zoom-button"><i class="ion-ios-plus-empty"></i></a>
                </div>
                <div class="grid-item grid-another-width concert">
                    <img src="images\gallery\1.jpg" class="img-responsive" alt="portfolio image">
                    <div class="base-gradient-bg overlay"></div>
                    <a href="images\gallery\1.jpg" class="zoom-button"><i class="ion-ios-plus-empty"></i></a>
                </div>
                <div class="grid-item recreation">
                    <img src="images\gallery\3.jpg" class="img-responsive" alt="portfolio image">
                    <div class="base-gradient-bg overlay"></div>
                    <a href="images\gallery\3.jpg" class="zoom-button"><i class="ion-ios-plus-empty"></i></a>
                </div>
                <div class="grid-item painting studio">
                    <img src="images\gallery\4.jpg" class="img-responsive" alt="portfolio image">
                    <div class="base-gradient-bg overlay"></div>
                    <a href="images\gallery\4.jpg" class="zoom-button"><i class="ion-ios-plus-empty"></i></a>
                </div>

                <div class="grid-item poster recreation">
                    <img src="images\gallery\5.jpg" class="img-responsive" alt="portfolio image">
                    <div class="base-gradient-bg overlay"></div>
                    <a href="images\gallery\5.jpg" class="zoom-button"><i class="ion-ios-plus-empty"></i></a>
                </div>
                <div class="grid-item  painting recreation">
                    <img src="images\gallery\6.jpg" class="img-responsive" alt="portfolio image">
                    <div class="base-gradient-bg overlay"></div>
                    <a href="images\gallery\6.jpg" class="zoom-button"><i class="ion-ios-plus-empty"></i></a>
                </div>
                <div class="grid-item recreation">
                    <img src="images\gallery\7.jpg" class="img-responsive" alt="portfolio image">
                    <div class="base-gradient-bg overlay"></div>
                    <a href="images\gallery\7.jpg" class="zoom-button"><i class="ion-ios-plus-empty"></i></a>
                </div>
            </div>
        </div>
    </section>
