[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 6
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news"
postPage = "news-post"
==
<section class="news-section section-padding" id="news">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Новости</h2>
            </div>

{% set posts = blogPosts.posts %}


    <div class="row row-eq-height">


      {% for post in posts %}

        <div class="col-md-4">

          <div class="item-preview mb-5" style="background: url('{{ post.featured_images[0].path }}'); background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden; height: 100%; border-radius: 10px;">

          <a href="{{ post.url }}">
            <div style="height: 50%; ">
              <div class="post-date base-gradient-bg">
                  {{ post.published_at|date('d / m, Y') }}
              </div>
            </div>

            <div style="height: 50%; background: rgba(29, 27, 27, 0.9); padding: 10px 20px;">
              <div class="item-preview-title"><h3>{{ post.title }}</h3></div>
              <div class="item-preview-description">{{ post.summary|raw }}</div>
            </div>
          </a>
          </div>
        </div>

          {% else %}
              <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
          {% endfor %}

      </div>

            <div class="text-center pdt40 pdb25">
                <a href="\news" class="musica-button">Показать все новости</a>
            </div>
        </div>
    </section>
