<section class="video-box-section text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="video-text">
                        <div class="section-heading">
                            <h2><span>X-Records - Студия звукозаписи</span> <br> <strong class="text-gradient-color">PROMO</strong></h2>
                        </div>
                        <div class="video-play-icon">
                            <a href="#">
                                <span><i class="ion-ios-play"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>