title = "Artist"
url = "/artist/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Kom\Artists\Models\Artist"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}

    <img src="{{ record.poster.thumb(400, auto) }}" alt="">

    <h2>{{ record.name }}</h2>
    <h4>{% for genre in record.genres %}

          <a href="/genres/{{ genre.slug }}">{{ genre.genre_name }}</a>

        {% endfor %}
    </h4>

    {% if record.consist %}
      Состав группы:
      <ul>
        <li>Имя
            Возраст
            Позиция</li>
        {% for musicman in record.consist %}

          <li>{{ musicman.musicman_name }}
          {{ musicman.musicman_age }}
          {{ musicman.musicman_inst }}</li>

        {% endfor %}
      </ul>
    {% endif %}
    {{ record.description|raw }}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <ul>

        {% for track in record.tracks %}

          <li>{{ track.getFileName() }} - {{ track.path }}</li>

        {% endfor %}

    </ul>



{% else %}
    {{ notFoundMessage }}
{% endif %}
