title = "Исполнитель"
url = "/artist/:slug"
layout = "studio-dark"
is_hidden = 0

[builderDetails]
modelClass = "Kom\Artists\Models\Artist"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"

[randomArtists]
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

    <style>
        /* body { color: #666; font-family: sans-serif; line-height: 1.4; }
        h1 { color: #444; font-size: 1.2em; padding: 14px 2px 12px; margin: 0px; }
        h1 em { font-style: normal; color: #999; }
        a { color: #888; text-decoration: none; } */
        #wrapper { width: 400px; margin: 40px auto; }

        ol { padding: 0px; margin: 0px; list-style: decimal-leading-zero inside; color: #ccc; width: 460px; border-top: 1px solid #ccc; font-size: 0.9em; }
        ol li { position: relative; margin: 0px; padding: 9px 2px 10px; border-bottom: 1px solid #ccc; cursor: pointer; }
        ol li a { display: block; text-indent: -3.3ex; padding: 0px 0px 0px 20px; }
        li.playing { color: #aaa; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
        /* li.playing a { color: #fff; } */
        li.playing:before { content: '♬'; width: 14px; height: 14px; padding: 3px; line-height: 14px; margin: 0px; position: absolute; left: -24px; top: 9px; color: #000; font-size: 13px; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }

        #shortcuts { position: fixed; bottom: 0px; width: 100%; color: #666; font-size: 0.9em; margin: 60px 0px 0px; padding: 20px 20px 15px; background: #f3f3f3; background: rgba(240, 240, 240, 0.7); }
        #shortcuts div { width: 460px; margin: 0px auto; }
        #shortcuts h1 { margin: 0px 0px 6px; }
        #shortcuts p { margin: 0px 0px 18px; }
        #shortcuts em { font-style: normal; background: #d3d3d3; padding: 3px 9px; position: relative; left: -3px;
            -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px;
            -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }

        @media screen and (max-device-width: 480px) {
            #wrapper { position: relative; left: -3%; }
            #shortcuts { display: none; }
        }

        .credit {
            text-align: center;
        }
    </style>

    <script>
        $(function() {
            // Setup the player to autoplay the next track
            var a = audiojs.createAll({
                trackEnded: function() {
                    var next = $('ol li.playing').next();
                    if (!next.length) next = $('ol li').first();
                    next.addClass('playing').siblings().removeClass('playing');
                    audio.load($('a', next).attr('data-src'));
                    audio.play();
                }
            });

            // Load in the first track
            var audio = a[0];
            first = $('ol a').attr('data-src');
            $('ol li').first().addClass('playing');
            audio.load(first);

            // Load in a track on click
            $('ol li').click(function(e) {
                e.preventDefault();
                $(this).addClass('playing').siblings().removeClass('playing');
                audio.load($('a', this).attr('data-src'));
                audio.play();
            });
            // Keyboard shortcuts
            $(document).keydown(function(e) {
                var unicode = e.charCode ? e.charCode : e.keyCode;
                // right arrow
                if (unicode == 39) {
                    var next = $('li.playing').next();
                    if (!next.length) next = $('ol li').first();
                    next.click();
                    // back arrow
                } else if (unicode == 37) {
                    var prev = $('li.playing').prev();
                    if (!prev.length) prev = $('ol li').last();
                    prev.click();
                    // spacebar
                } else if (unicode == 32) {
                    audio.playPause();
                }
            })
        });
    </script>


{% partial 'sections/banner.htm' %}

{% if record %}

<div class="main-content pdt40 pdb90">
    <div class="container">
        <div class="album-detail">
            <div class="row">
                <div class="col-md-6">
                    <div class="image">
                        <img src="{{ record.poster.thumb(400, auto) }}" alt="{{ record.name }}" class="img-responsive">
                    </div>

                    <div class="desc">

                      {{ record.description|raw }}

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="album-detail-text">
                        <center><h3>Инфо</h3></center>
                        <ul>
                            <li>Исполнитель<span class="pull-right">{{ record.name }}</span></li>
                            <li>Жанр<span class="pull-right">

                              {% for genre in record.genres %}

                                <a href="/genres/{{ genre.slug }}">{{ genre.genre_name }}</a>

                              {% endfor %}

                            </span></li>
                            <!-- <li>Зарегистрирован<span class="pull-right">09 Августа 2014</span></li> -->
                            <li>Лейбл<span class="pull-right">X-Records</span></li>
                        </ul>

                        <center><h3>Состав</h3></center>
                        <ul>
                            {% for musicman in record.consist %}

                              <li>{{ musicman.musicman_name }}<span class="pull-right">{{ musicman.musicman_inst }}</span></li>

                            {% endfor %}
                        </ul>

                        <div class="album-detail-button" style="text-align: center;">
                            <a href="#" class="musica-button-two">ВКонтач</a>
                            <a href="#" class="musica-button-two">Cwitter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <div id="wrapper">
        <h1>{{ record.name }}</h1>
          <audio preload></audio>
            <ol>
                {% for track in record.tracks %}

                  <li><a href="#" data-src="{{ track.path }}">{{ track.getFileName() }}</a></li>

                {% endfor %}
            </ol>
      </div>

      <div class="tags">

        <h4>Тэги</h4>

        <ul>

          {% for tag in record.tags %}

            <li><a href="/tags/{{ tag.slug }}">{{ tag.tag }}</a></li>

          {% endfor %}

        </ul>

      </div>

        <div class="album-detail-audio-player">
            <div class="musica-audio-player">
                <div id="musica-audio-player-container" class="jp-video" role="application" aria-label="media player">
                    <div id="tr-player"></div>
                    <div class="jp-type-playlist">
                        <div class="audio-table">
                            <div class="jp-controls">
                                <button class="jp-previous"></button>
                                <button class="jp-play"></button>
                                <button class="jp-next"></button>
                                <button class="jp-stop"></button>
                            </div>
                            <div class="jp-toggles">
                                <button class="jp-repeat">Повторение</button>
                                <button class="jp-shuffle">Перемешать</button>
                                <button class="jp-full-screen">На весь экран</button>
                            </div>
                            <div class="jp-gui">
                                <div class="jp-video-play">
                                    <button class="jp-video-play-icon"></button>
                                </div>
                                <div class="jp-interface">
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div class="jp-play-bar"></div>
                                        </div>
                                    </div>
                                    <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
                                    <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                    <button class="audio-playlist">...</button>
                                </div>

                            </div>
                            <div class="jp-volume-controls">
                                <button class="jp-mute"></button>
                                <button class="jp-volume-max"></button>
                                <div class="jp-volume-bar">
                                    <div class="jp-volume-bar-value"></div>
                                </div>
                            </div>
                            <div class="jp-details">
                                <div class="jp-title" aria-label="title">&nbsp;</div>
                            </div>
                            <!--/title-->
                           <div id="musica-jquery-jplayer" class="jp-jplayer"></div>
                        </div>
                        <div class="audio-playlist-wrapper">
                            <div id="playlist-wrapper">
                                <div class="jp-playlist">
                                    <ul>
                                        <li>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row"> -->
            <div class="col-md-12">
                <div class="section-heading text-center">
                    <h2>Другие исполнители</h2>
                </div>
            </div>

            {% component 'randomArtists' %}


           <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="album-item">
                    <a href="../../artists/delfina/artist.html">
                        <img src="../../artists/delfina/images/image.jpg" class="img-responsive" alt="Дельфина">
                        <div class="overlay base-gradient-bg"></div>
                        <h3 class="heading">Дельфина</h3>
                        <span class="sub-heading">Рэп, Поп, Рок, Джаз</span>
                    </a>
              </div>/.album-item
            </div>


            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="album-item">
                    <a href="../../artists/nikita-kit/artist.html">
                        <img src="../../artists/nikita-kit/images/image.jpg" class="img-responsive" alt="Никита КИТ">
                        <div class="overlay base-gradient-bg"></div>
                        <h3 class="heading">Никита КИТ</h3>
                        <span class="sub-heading">Рэп</span>
                    </a>
              </div>/.album-item
            </div>


            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="album-item">
                    <a href="../../artists/ali/artist.html">
                        <img src="../../artists/ali/images/image.jpg" class="img-responsive" alt="Али a.k.a V9">
                        <div class="overlay base-gradient-bg"></div>
                        <h3 class="heading">Али a.k.a V9</h3>
                        <span class="sub-heading">Рэп</span>
                    </a>
              </div>/.album-item
            </div> -->


        <!-- </div> -->



    </div>
</div>

<script type="text/javascript">

var track = {{ record.tracks|json_encode()|raw }}

var arr = [];

var i = 0;

while(i < track.length){

  tmp = {
          title:track[i].file_name,
          artist:{{ record.name|json_encode()|raw }},
          mp3:track[i].path,
          poster:{{ record.poster|json_encode()|raw }},
        };

  arr[i] = tmp;

  i++;

}

//<![CDATA[
$(document).ready(function(){
    "use strict";
    new jPlayerPlaylist({
        jPlayer: "#musica-jquery-jplayer",
        cssSelectorAncestor: "#musica-audio-player-container"
    },

    // [
    //
		//     {
    //         title:"STROK1N x Mr.Cardy - Твои губы тают",
    //         artist:"<span class='music-time'>03:37</span>",
    //         mp3:"./strokin-mr-cardy-tvoi-guby-ta-you-t.mp3",
    //         poster: "../images/poster/*.jpg",
    //     },
    //
    // ],

    arr,

    {
        playlistOptions: {
            autoPlay: false,
            loopOnPrevious: true,
            shuffleOnLoop: true,
            enableRemoveControls: true,
            displayTime: "show",
            freeItemClass: "jp-playlist-item-free",
        },
        swfPath: "../js/jquery.jplayer.swf",
        supplied: "oga, mp3",
        wmode: "window",
        useStateClassSkin: true,
        autoBlur: true,
        smoothPlayBar: true,
        keyEnabled: true,
        remainingDuration: true,
        volume: 1,
    });



});
//]]>


</script>

{% else %}
    {{ notFoundMessage }}
{% endif %}
