title = "Событие"
url = "/event/:slug"
layout = "studio-dark"
description = "Подробное описание события"
is_hidden = 0

[builderDetails]
modelClass = "Kom\Events\Models\Event"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% partial 'sections/banner.htm' %}

<div class="main-content pdt40 pdb110">
    <div class="container">

      {% if record %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="blog-detail">
                    <div class="image">

                      {% if record.eventimg.path %}
                        <img src="{{ record.eventimg.path }}" alt="{{ image.description }}" class="img-responsive">
                      {% else %}
                        <img src="#noimage" alt="{{ record.title }}" class="img-responsive">
                      {% endif %}

                    </div>
                    <div class="blog-detail-text">
                        <div>
                            <h3 class="blog-heading" style="margin-top: 30px;">{{ record.title }}</h3>
                            <h5><span>{{ record.event_date|date('d / m, Y') }}</span></h5>
                            {{ record.description|raw }}
                        </div>

                        <div class="row marbot30">
                            <div class="col-sm-6">
                                <ul class="blog-tags">

                                  {% for tag in record.tags %}

                                    <li><a href="/tags/{{ tag.slug }}" class="musica-button-two">{{ tag.name }}</a></li>

                                  {% endfor %}

                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <div class="social-icon text-right">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% else %}
            {{ notFoundMessage }}
        {% endif %}
    </div>
</div>
