title = "Новости"
url = "/news"
layout = "studio-dark"
description = "Новости"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "news"
postPage = "news-post"
==
{% partial 'sections/banner.htm' %}

<div class="container">

{% set posts = blogPosts.posts %}

<div class="row row-eq-height">

{% for post in posts %}

  <div class="col-md-4">

    <div class="item-preview mb-5" style="background: url('{{ post.featured_images[0].path }}'); background-position: center; background-repeat: no-repeat; background-size: cover; overflow: hidden; height: 100%; border-radius: 10px;">

    <a href="{{ post.url }}">
      <div style="height: 50%; ">
        <div class="post-date base-gradient-bg">
            {{ post.published_at|date('M d, Y') }}
        </div>
      </div>

      <div style="height: 50%; background: rgba(29, 27, 27, 0.9); padding: 10px 20px;">
        <div class="item-preview-title"><h3>{{ post.title }}</h3></div>
        <div class="item-preview-description">{{ post.summary|raw }}</div>
      </div>
    </a>
    </div>
  </div>

    {% else %}
        <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
    {% endfor %}

  </div>

  {% if posts.lastPage > 1 %}
      <ul class="pagination">
          {% if posts.currentPage > 1 %}
              <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
          {% endif %}

          {% for page in 1..posts.lastPage %}
              <li class="{{ posts.currentPage == page ? 'active' : null }}">
                  <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
              </li>
          {% endfor %}

          {% if posts.lastPage > posts.currentPage %}
              <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
          {% endif %}
      </ul>
  {% endif %}

</div>
