title = "Тэги"
url = "/tags/:slug"
layout = "studio-dark"
is_hidden = 0

==


use Kom\Tags\Models\Tag;

function onStart () {

    $this['tag'] = Tag::where('slug', $this->param('slug'))->first();

    $rel = [];

    foreach ($this['tag']->morphedByMany as $model) {

      $rel[$model['model']] = $this['tag']->{$model['model']};

    }

    $this['slug'] = $this->param('slug');

    $this['relaited'] = $rel;

    /*dd($this['relaited']);*/

}

==

{% partial 'sections/banner.htm' %}

<div class="main-content pdt40 pdb90">
    <div class="container">


          {% if relaited %}

              {% for key, data in relaited  %}

                {% if data.count %}

                  {% set partial = 'tags/' ~ key %}

                  {% if partial(partial) %}

                      {% partial partial records=data %}

                  {% else %}

                      <p>partial not found</p>

                  {% endif %}

              {% endif %}

            {% endfor %}

            {% else %}
                <li class="no-data">{{ noRecordsMessage }}</li>

          {% endif %}


    </div>
</div>
